Repository autowarefoundation/autoware-documentation, pull requests merged in 2022-12, with the labels that each got.

#264 fix(docs): update documentation for humble from galactic
  docs/contributing/coding-guidelines/ros-nodes/message-guidelines.md
  docs/installation/autoware/docker-installation.md
  docs/installation/autoware/source-installation.md
  docs/tutorials/scenario-simulation/planning-simulation/installation.md
Labels: deploy-docs

#219 docs(tutorial): add planning simulation reference video
  docs/tutorials/ad-hoc-simulation/planning-simulation.md
  docs/tutorials/ad-hoc-simulation/rosbag-replay-simulation.md
Labels: documentation

#274 feat(ad-api): add reverse reference of message
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/localization_initialization_state.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/motion_state.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/mrm_state.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/operation_mode_state.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/response_status.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/route.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/route_data.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/route_primitive.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/route_segment.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/route_state.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/steering_factor.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/steering_factor_array.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/velocity_factor.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/velocity_factor_array.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/accept_start.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/change_operation_mode.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/clear_route.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/initialize_localization.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/set_route.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/set_route_points.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_version_msgs/srv/interface_version.md
Labels: deploy-docs

#273 feat(how-to-guides): add a new lidar-camera-calibration tool
  docs/how-to-guides/calibrating-your-sensors.md
Labels: deploy-docs

#286 docs: modify perception architecture in node diagram
  docs/design/autoware-architecture/node-diagram/overall-node-diagram-autoware-universe.drawio.svg
Labels: documentation

#283 feat: add console-logging doc
  docs/contributing/coding-guidelines/ros-nodes/console-logging.md
Labels: deploy-docs

#236 docs(how-to-guides): add a custom ROS message
  docs/how-to-guides/.pages
  docs/how-to-guides/add-a-custom-ros-message.md
  docs/how-to-guides/index.md
Labels: documentation, deploy-docs
