Repository autowarefoundation/autoware-documentation, pull requests merged in 2023-06, with the labels that each got.

#384 docs: add description of surround_obstacle_checker's activation switch
  docs/design/autoware-architecture/planning/index.md
Labels: documentation, deploy-docs

#367 docs(parameters): add DevOps Dojo: ROS Node Config documentation
  docs/contributing/coding-guidelines/ros-nodes/parameters.md
Labels: documentation, enhancement, deploy-docs

#387 docs(planning-interface): update to the latest interface information
  docs/design/autoware-interfaces/components/planning.md
Labels: documentation, deploy-docs, Component: planning

#390 docs(planning-design): add planning internal interface
  docs/design/autoware-architecture/planning/index.md
  docs/design/autoware-interfaces/components/images/planning-interface-input.drawio.svg
  docs/design/autoware-interfaces/components/images/planning-interface-internal.drawio.svg
  docs/design/autoware-interfaces/components/images/planning-interface-output.drawio.svg
  docs/design/autoware-interfaces/components/planning.md
Labels: documentation, deploy-docs, Component: planning

#391 docs(autoware-architecture): update links of behavior velocity planners
  docs/design/autoware-architecture/planning/index.md
Labels: deploy-docs

#382 feat(competitions): add a page for autoware related competitions
  docs/.pages
  docs/autoware-competitions/.pages
  docs/autoware-competitions/images/autoware_challenge_2023.png
  docs/autoware-competitions/index.md
  docs/index.md
Labels: deploy-docs

#393 feat(competitions): add new row for AI Challenge to competitions page
  docs/autoware-competitions/images/aichallenge_2023.png
  docs/autoware-competitions/index.md
Labels: deploy-docs

#392 fix(planning-design): blind spot link
  docs/design/autoware-architecture/planning/index.md
Labels: deploy-docs

#337 feat: invalid lanelet documentation
  docs/design/autoware-architecture/node-diagram/overall-node-diagram-autoware-universe.drawio.svg
  docs/design/autoware-architecture/planning/image/features-no-drivable-lane.drawio.svg
  docs/design/autoware-architecture/planning/image/planning-diagram.drawio.svg
  docs/design/autoware-architecture/planning/index.md
Labels: documentation

#381 docs(ad-api): add use cases of vehicle status
  docs/design/autoware-interfaces/ad-api/features/planning-factors.md
  docs/design/autoware-interfaces/ad-api/features/vehicle-status.md
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/dimensions.md
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/doors/layout.md
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/doors/status.md
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/kinematics.md
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/status.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DoorLayout.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DoorStatus.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DoorStatusArray.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/Gear.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/HazardLights.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/ResponseStatus.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/TurnIndicators.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/VehicleDimensions.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/VehicleKinematics.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/VehicleStatus.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/VelocityFactor.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/GetDoorLayout.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/srv/GetVehicleDimensions.md
  docs/design/autoware-interfaces/ad-api/use-cases/index.md
  docs/design/autoware-interfaces/ad-api/use-cases/request-to-cooperate.md
  docs/design/autoware-interfaces/ad-api/use-cases/vehicle-monitoring.md
  main.py
  tools/autoware-interfaces/generate.py
  yaml/autoware-interfaces.yaml
Labels: deploy-docs

#389 feat(how-to-guides): add important temporal performance metrics
  docs/how-to-guides/index.md
  docs/how-to-guides/others/defining-temporal-performance-metrics.md
  docs/how-to-guides/others/images/important-temporal-performance-metrics/model-for-obstacle-segmentation-metrics.svg
  docs/how-to-guides/others/images/important-temporal-performance-metrics/model-for-perception-metrics.svg
  docs/how-to-guides/others/images/important-temporal-performance-metrics/model-for-top-level-metrics.svg
Labels: documentation, deploy-docs
