Repository autowarefoundation/autoware-documentation, pull requests merged in 2023-01, with the labels that each got.

#285 docs(contributing): add coordinate-system.md in ros-nodes
  docs/contributing/coding-guidelines/ros-nodes/coordinate-system.md
Labels: documentation, enhancement, deploy-docs

#295 docs(how-to-guides): add how to fix dependent package versions
  docs/how-to-guides/.pages
  docs/how-to-guides/fixing-dependent-package-versions.md
Labels: deploy-docs

#268 feat(how-to-guides): add debug autoware guides
  docs/how-to-guides/.pages
  docs/how-to-guides/debug-autoware.md
  docs/how-to-guides/index.md
Labels: deploy-docs

#297 docs(message-guidelines): add plural type naming
  docs/contributing/coding-guidelines/ros-nodes/message-guidelines.md
Labels: documentation, deploy-docs

#301 fix(tutorial): fix tutorial for planning simulation with ADAPI
  docs/tutorials/ad-hoc-simulation/images/planning/lane-following/after-autoware-launch.png
  docs/tutorials/ad-hoc-simulation/images/planning/lane-following/engage-and-start-planning.png
  docs/tutorials/ad-hoc-simulation/images/planning/lane-following/set-goal-pose.png
  docs/tutorials/ad-hoc-simulation/images/planning/lane-following/set-initial-pose.png
  docs/tutorials/ad-hoc-simulation/images/planning/lane-following/start-driving.png
  docs/tutorials/ad-hoc-simulation/planning-simulation.md
Labels: documentation, deploy-docs

#180 docs(sensing): add sensing design documentation
  docs/design/autoware-architecture/sensing/data-types/gnss-ins-data.md
  docs/design/autoware-architecture/sensing/data-types/image.md
  docs/design/autoware-architecture/sensing/data-types/point-cloud.md
  docs/design/autoware-architecture/sensing/data-types/radar-data.md
  docs/design/autoware-architecture/sensing/data-types/ultrasonics-data.md
  docs/design/autoware-architecture/sensing/index.md
Labels: documentation, Bus ODD, deploy-docs

#288 docs(installation): add docker installation video tutorials and refactor the page structure
  docs/installation/autoware/docker-installation-devel.md
  docs/installation/autoware/docker-installation-prebuilt.md
  docs/installation/autoware/docker-installation.md
  mkdocs.yaml
Labels: documentation, deploy-docs
