Repository autowarefoundation/autoware-documentation, pull requests merged in 2023-08, with the labels that each got.

#430 docs: add 2 more demonstration videos and their thumbnails
  docs/design/autoware-architecture/planning/index.md
Labels: deploy-docs

#328 docs(design/autoware-interfaces): add sensing interface
  docs/design/autoware-interfaces/components/sensing.md
Labels: documentation, deploy-docs, Component: sensing

#325 docs(design/autoware-interfaces): add perception interface
  docs/design/autoware-interfaces/components/images/Perception-Architecture.drawio.svg
  docs/design/autoware-interfaces/components/perception-interface.md
Labels: deploy-docs, Component: perception

#432 docs(reference-hw): add nebula
  docs/reference-hw/full_drivers_list.md
  docs/reference-hw/lidars.md
Labels: documentation, deploy-docs, Component: sensing

#431 feat: update map design doc
  docs/design/autoware-architecture/map/image/high-level-map-diagram.drawio.svg
  docs/design/autoware-architecture/map/index.md
Labels: deploy-docs

#433 fix(perception-interface): fix typos add missing links
  docs/design/autoware-interfaces/components/perception-interface.md
Labels: deploy-docs

#426 feat(parameters.md): update deatils about the types of parameter files
  docs/contributing/coding-guidelines/ros-nodes/parameters.md
Labels: deploy-docs

#440 feat(node_diagram): update map module
  docs/design/autoware-architecture/node-diagram/overall-node-diagram-autoware-universe.drawio.svg
Labels: deploy-docs
