Repository autowarefoundation/autoware-documentation, pull requests merged in 2023-11, with the labels that each got.

#465 docs: update LIO-SAM and vector map documentation
  docs/how-to-guides/integrating-autoware/creating-maps/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/converting-utm-to-mgrs-map/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/converting-utm-to-mgrs-map/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/crosswalk/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/crosswalk/images/crosswalk-test.png
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/crosswalk/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/detection-area/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/detection-area/images/detection-area-test.png
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/detection-area/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/lanelet2/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/lanelet2/images/planning-simulator-map-test.png
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/lanelet2/images/pointcloud-map.png
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/lanelet2/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/speed-bump/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/speed-bump/images/speed-bump-test.png
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/speed-bump/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/stop-line/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/stop-line/images/stop-line-test.png
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/stop-line/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/traffic-light/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/traffic-light/images/traffic-light-test.png
  docs/how-to-guides/integrating-autoware/creating-maps/creating-vector-map/traffic-light/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/open-source-slam/lio-sam/images/LIO-SAM-imu-direction.png
  docs/how-to-guides/integrating-autoware/creating-maps/open-source-slam/lio-sam/images/LIO-SAM-output.png
  docs/how-to-guides/integrating-autoware/creating-maps/open-source-slam/lio-sam/images/pcd-map.png
  docs/how-to-guides/integrating-autoware/creating-maps/open-source-slam/lio-sam/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/pointcloud-map-downsampling/.pages
  docs/how-to-guides/integrating-autoware/creating-maps/pointcloud-map-downsampling/images/select-map.png
  docs/how-to-guides/integrating-autoware/creating-maps/pointcloud-map-downsampling/images/space-subsampling.png
  docs/how-to-guides/integrating-autoware/creating-maps/pointcloud-map-downsampling/images/subsampled-map.png
  docs/how-to-guides/integrating-autoware/creating-maps/pointcloud-map-downsampling/index.md
Labels: deploy-docs

#478 docs(sensing): update lidar data field requirement
  docs/design/autoware-architecture/sensing/data-types/point-cloud.md
Labels: tag:deploy-docs

#477 feat: add split map tutorial
  docs/how-to-guides/others/using-divided-map.md
Labels: tag:deploy-docs

#481 docs(ci-checks): add word registration guidelines for spell check
  docs/contributing/pull-request-guidelines/ci-checks.md
Labels: tag:deploy-docs

#482 chore(node_diagram): update perception and sensing pipeline
  docs/design/autoware-architecture/node-diagram/overall-node-diagram-autoware-universe.drawio.svg
Labels: tag:deploy-docs

#446 docs: update creating autoware repositories page
  docs/design/autoware-interfaces/ad-api/list/api/planning/cooperation/get_policies.md
  docs/design/autoware-interfaces/ad-api/list/api/planning/cooperation/set_policies.md
  docs/how-to-guides/integrating-autoware/.pages
  docs/how-to-guides/integrating-autoware/creating-your-autoware-meta-repository/creating-autoware-meta-repository.md
  docs/how-to-guides/integrating-autoware/creating-your-autoware-repositories/creating-autoware-repositories.md
  docs/how-to-guides/integrating-autoware/creating-your-autoware-repositories/images/forking-autoware_repository.png
Labels: tag:deploy-docs

#460 docs: update creating vehicle and sensor model pages
  docs/contributing/coding-guidelines/ros-nodes/coordinate-system.md
  docs/how-to-guides/integrating-autoware/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-description/creating-vehicle-and-sensor-description.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-individual-params/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-individual-params/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-sensor-model/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-sensor-model/images/sensing_launch_files.svg
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-sensor-model/images/sensor_launch_design.svg
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-sensor-model/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-vehicle-model/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-vehicle-model/images/mirror_dimensions.svg
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-vehicle-model/images/tutorial_vehicle.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-vehicle-model/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/index.md
  docs/how-to-guides/integrating-autoware/creating-your-autoware-repositories/creating-autoware-repositories.md
Labels: tag:deploy-docs

#453 docs: update vehicle interface with some samples
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/ackermann-kinematic-model.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/creating-a-vehicle-interface-for-an-ackermann-kinematic-model.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/creating-vehicle-interface.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/customizing-for-differential-drive-model.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/images/autoware-vehicle-communication.svg
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/images/differential_vehicle.svg
  docs/how-to-guides/integrating-autoware/creating-vehicle-interface-package/vehicle-interface.md
Labels: tag:deploy-docs

#448 docs: update sensor calibration documentation
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/.pages
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/calibration-tools/images/tutorial_vehicle_sensor_kit_base_link.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/calibration-tools/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/extrinsic-manual-calibration/images/manual-calibration.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/extrinsic-manual-calibration/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/ground-lidar-calibration/images/after-ground-plane.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/ground-lidar-calibration/images/before-ground-plane.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/ground-lidar-calibration/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/intrinsic-camera-calibration/images/chess-board-7x7.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/intrinsic-camera-calibration/images/intrinsic-data-collecting.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/intrinsic-camera-calibration/images/intrinsic-initial-configuration.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/intrinsic-camera-calibration/images/intrinsic-topic-information.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/intrinsic-camera-calibration/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-camera-calibration/images/interactive-calibration-points.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-camera-calibration/images/interactive-calibrator-results.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-camera-calibration/images/interactive-calibrator.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-camera-calibration/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-lidar-calibration/images/mapping-based-calibration-result.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-lidar-calibration/images/mapping-based-calibration.png
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-lidar-calibration/index.md
Labels: tag:deploy-docs

#485 docs(planning-design): update reference implementation diagram
  docs/design/autoware-architecture/planning/image/planning-diagram.drawio.svg
Labels: type:documentation, component:planning

#467 fix: fix link in the introduction page
  docs/index.md
Labels: tag:deploy-docs

#385 docs: add perception design
  docs/design/autoware-architecture/perception/image/high-level-perception-diagram.drawio.svg
  docs/design/autoware-architecture/perception/image/reference-implementaion-perception-diagram.drawio.svg
  docs/design/autoware-architecture/perception/index.md
  docs/design/autoware-architecture/perception/reference_implementation.md
  docs/design/autoware-interfaces/components/perception.md
Labels: type:documentation, tag:deploy-docs
