Repository autowarefoundation/autoware-documentation, pull requests merged in 2023-05, with the labels that each got.

#361 build(mkdocs.yaml): include GIF files
  mkdocs.yaml
Labels: deploy-docs

#360 build(mkdocs.yaml): update copyright year
  mkdocs.yaml
Labels: deploy-docs

#358 docs: add scenario simulation page
  docs/tutorials/scenario-simulation/.pages
  docs/tutorials/scenario-simulation/index.md
Labels: documentation, deploy-docs

#364 docs: fix performance analysis page
  docs/how-to-guides/.pages
  docs/how-to-guides/evaluating-real-time-performance.md
  docs/how-to-guides/index.md
Labels: documentation, deploy-docs

#334 docs(eagleye-setting-guide): add eagleye setting in how to guides
  docs/how-to-guides/.pages
  docs/how-to-guides/eagleye-integration-guide.md
  docs/how-to-guides/images/eagleye-integration-guide/eagleye_pose_twist.drawio.svg
  docs/how-to-guides/images/eagleye-integration-guide/eagleye_twist.drawio.svg
  docs/how-to-guides/index.md
Labels: deploy-docs

#332 docs(design/autoware-interfaces): add map interface
  docs/design/autoware-interfaces/components/images/Map-Bus-ODD-Architecture.drawio.svg
  docs/design/autoware-interfaces/components/map.md
Labels: deploy-docs

#335 docs(control-design): add control design document
  docs/design/autoware-architecture/control/image/control-component.drawio.svg
  docs/design/autoware-architecture/control/image/vehicle-interface-hw-abstraction.drawio.svg
  docs/design/autoware-architecture/control/index.md
Labels: deploy-docs, Component: control

#287 docs(contributing/coding-guidelines): add launch files documentation for ROS nodes guidelines
  docs/contributing/coding-guidelines/ros-nodes/launch-files.md
Labels: deploy-docs

#365 docs(troubleshooting): improve performance troubleshooting section
  docs/contributing/documentation-guidelines/index.md
  docs/installation/autoware/docker-installation-devel.md
  docs/installation/autoware/source-installation.md
  docs/support/.pages
  docs/support/index.md
  docs/support/troubleshooting/.pages
  docs/support/troubleshooting/index.md
  docs/support/troubleshooting/performance-troubleshooting.md
Labels: documentation, deploy-docs

#374 fix: update invalid links in the documentation files
  docs/design/autoware-architecture/planning/index.md
  docs/how-to-guides/integrating-autoware/creating-maps/index.md
  docs/installation/autoware/source-installation.md
Labels: deploy-docs

#376 docs(planning-design): update features
  docs/design/autoware-architecture/planning/image/features-aeb.drawio.svg
  docs/design/autoware-architecture/planning/image/features-intersection-occlusion.drawio.svg
  docs/design/autoware-architecture/planning/image/features-occlusion-spot.drawio.svg
  docs/design/autoware-architecture/planning/image/features-speed-bump.drawio.svg
  docs/design/autoware-architecture/planning/image/features-trajectory-validation.drawio.svg
  docs/design/autoware-architecture/planning/index.md
Labels: documentation, Component: planning

#377 docs: add short tutorials
  docs/tutorials/ad-hoc-simulation/images/planning/avoidance/set-dummy-bus.png
  docs/tutorials/ad-hoc-simulation/images/planning/avoidance/set-position-and-goal.png
  docs/tutorials/ad-hoc-simulation/images/planning/lane-change/lane-changing.png
  docs/tutorials/ad-hoc-simulation/images/planning/lane-change/open-nishishinjuku-map.png
  docs/tutorials/ad-hoc-simulation/images/planning/lane-change/set-position-and-goal.png
  docs/tutorials/ad-hoc-simulation/planning-simulation.md
Labels: documentation, deploy-docs

#380 build(mkdocs): fix mathjax rendering
  docs/assets/js/mathjax.js
  mkdocs.yaml
Labels: documentation, deploy-docs
