Repository autowarefoundation/autoware-documentation, pull requests merged in 2023-12, with the labels that each got.

#487 docs: add AWSIM integration page
  docs/how-to-guides/integrating-autoware/.pages
  docs/how-to-guides/integrating-autoware/awsim-integration/images/awsim-unity-project.png
  docs/how-to-guides/integrating-autoware/awsim-integration/images/tutorial-vehicle-awsim-integration.png
  docs/how-to-guides/integrating-autoware/awsim-integration/images/tutorial-vehicle-environment.png
  docs/how-to-guides/integrating-autoware/awsim-integration/index.md
Labels: tag:deploy-docs

#494 docs(planning design): update high level design document
  docs/design/autoware-architecture/planning/image/high-level-planning-diagram.drawio.svg
  docs/design/autoware-architecture/planning/image/how-to-add-new-modules.drawio.svg
  docs/design/autoware-architecture/planning/image/planning-diagram-tmp.drawio.svg
  docs/design/autoware-architecture/planning/image/reference-implementation-add-new-modules.drawio.svg
  docs/design/autoware-architecture/planning/index.md
Labels: tag:deploy-docs, component:planning

#491 docs: fix localization's input pointcloud
  docs/design/autoware-architecture/node-diagram/overall-node-diagram-autoware-universe.drawio.svg
  docs/design/autoware-interfaces/components/sensing.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/calibrating-sensors/lidar-lidar-calibration/index.md
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-sensor-model/index.md
Labels: tag:deploy-docs

#496 docs(localization): add note for non-NDT users
  docs/how-to-guides/integrating-autoware/launch-autoware/localization/index.md
Labels: tag:deploy-docs, component:localization
