Repository autowarefoundation/autoware-documentation, pull requests merged in 2024-05, with the labels that each got.

#539 feat: add diagnostics api
  docs/design/autoware-interfaces/ad-api/features/diagnostics.md
  docs/design/autoware-interfaces/ad-api/features/diagnostics/data.drawio.svg
  docs/design/autoware-interfaces/ad-api/features/diagnostics/tree.drawio.svg
  docs/design/autoware-interfaces/ad-api/index.md
  docs/design/autoware-interfaces/ad-api/list/api/system/diagnostics/status.md
  docs/design/autoware-interfaces/ad-api/list/api/system/diagnostics/struct.md
  docs/design/autoware-interfaces/ad-api/list/index.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DiagGraphStatus.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DiagGraphStruct.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DiagLinkStruct.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DiagNodeStatus.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/DiagNodeStruct.md
  docs/design/autoware-interfaces/ad-api/types/index.md
  docs/design/autoware-interfaces/ad-api/use-cases/system-monitoring.md
  yaml/autoware-interfaces.yaml
Labels: tag:deploy-docs

#545 fix: update manual installation instructions
  docs/installation/autoware/source-installation.md
Labels: type:documentation, tag:deploy-docs

#546 feat: add code owners documentation
  docs/contributing/pull-request-guidelines/.pages
  docs/contributing/pull-request-guidelines/code-owners.md
  docs/contributing/pull-request-guidelines/index.md
Labels: type:documentation, tag:deploy-docs

#541 feat: add awsim labs documentation reference
  docs/tutorials/ad-hoc-simulation/digital-twin-simulation/awsim-tutorial.md
Labels: tag:deploy-docs, component:simulation

#547 feat: update the naming rules for directories and classes
  docs/contributing/coding-guidelines/ros-nodes/class-design.md
  docs/contributing/coding-guidelines/ros-nodes/directory-structure.md
  docs/contributing/coding-guidelines/ros-nodes/parameters.md
Labels: tag:deploy-docs

#543 feat: add coding guideline about topic message handling
  docs/contributing/coding-guidelines/ros-nodes/.pages
  docs/contributing/coding-guidelines/ros-nodes/topic-message-handling/.pages
  docs/contributing/coding-guidelines/ros-nodes/topic-message-handling/index.md
  docs/contributing/coding-guidelines/ros-nodes/topic-message-handling/supp-intra-process-comm.md
  docs/contributing/coding-guidelines/ros-nodes/topic-message-handling/supp-wait_set.md
Labels: tag:deploy-docs

#554 fix: awsim-labs link
  docs/tutorials/ad-hoc-simulation/digital-twin-simulation/awsim-tutorial.md
Labels: tag:deploy-docs
