Repository autowarefoundation/autoware-documentation, pull requests merged in 2024-07, with the labels that each got.

#583 fix: planning links
  docs/design/autoware-architecture/planning/index.md
Labels: tag:deploy-docs

#572 docs(ad-api): release adapi v1.4.0
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/status.md
  docs/design/autoware-interfaces/ad-api/list/index.md
  docs/design/autoware-interfaces/ad-api/release.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/VehicleStatus.md
  yaml/autoware-interfaces.yaml
Labels: tag:deploy-docs

#588 docs(sensing): update pointcloud type information
  docs/design/autoware-architecture/sensing/data-types/point-cloud.md
Labels: type:documentation, tag:deploy-docs, component:sensing

#562 feat(doc): add guidance for developers about using autoware evaluator
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/autoware-evaluator-main-page.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/catalog-page.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/compare-results.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/condition-group-show.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/enable-condition-group.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/report-with-cases.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/reports.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/scenario-create-tutorial-01.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/scenario-create-tutorial-02.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/scenario-create-tutorial-03.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/scenario-create-tutorial-04.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/scenario-create-tutorial-05.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/scenario-create-tutorial-06.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/scenario-replay.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/single-case-report.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/single-scenario-report.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/suite-test-result.png
  docs/how-to-guides/others/images/planning-evaluation-using-scenarios/test-executed-report.png
  docs/how-to-guides/others/planning-evaluation-using-scenarios.md
Labels: type:documentation, tag:deploy-docs, component:planning, component:simulation

#590 fix(directory-structure.md): update broken link
  docs/contributing/coding-guidelines/ros-nodes/directory-structure.md
Labels: tag:deploy-docs

#587 feat: improve additional-settings-for-developers section
  docs/installation/additional-settings-for-developers/.pages
  docs/installation/additional-settings-for-developers/console-settings.md
  docs/installation/additional-settings-for-developers/index.md
  docs/installation/additional-settings-for-developers/network-configuration/.pages
  docs/installation/additional-settings-for-developers/network-configuration/dds-settings.md
  docs/installation/additional-settings-for-developers/network-configuration/enable-multicast-for-lo.md
  docs/installation/additional-settings-for-developers/network-configuration/index.md
  docs/installation/additional-settings-for-developers/network-configuration/multiple-computers.md
  docs/installation/autoware/source-installation.md
  docs/support/troubleshooting/performance-troubleshooting.md
Labels: tag:deploy-docs
