Repository autowarefoundation/autoware-documentation, pull requests merged in 2024-10, with the labels that each got.

#597 feat: add Istanbul open dataset
  docs/datasets/images/ist_dataset_route_3_resized.png
  docs/datasets/index.md
Labels: type:documentation, tag:deploy-docs, component:localization

#611 feat: add localization evaluation
  docs/tutorials/.pages
  docs/tutorials/components_evaluation/index.md
  docs/tutorials/components_evaluation/localization_evaluation/urban-environment-evaluation.md
  docs/tutorials/index.md
Labels: type:documentation, tag:deploy-docs, component:localization

#560 feat: add informations on lane detection models
  docs/how-to-guides/index.md
  docs/how-to-guides/others/lane-detection-methods.md
Labels: tag:deploy-docs

#593 docs: added autoware_carla_interface package in carla tutorial
  docs/tutorials/ad-hoc-simulation/digital-twin-simulation/carla-tutorial.md
Labels: status:stale

#602 feat(ad-api): add restrictions and options
  docs/design/autoware-interfaces/ad-api/features/routing.md
  docs/design/autoware-interfaces/ad-api/list/api/routing/clear_route.md
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/doors/command.md
  docs/design/autoware-interfaces/ad-api/list/api/vehicle/status.md
  docs/design/autoware-interfaces/ad-api/release.md
  docs/design/autoware-interfaces/ad-api/types/autoware_adapi_v1_msgs/msg/RouteOption.md
  yaml/autoware-interfaces.yaml
Labels: tag:deploy-docs
