Repository autowarefoundation/autoware-documentation, pull requests merged in 2024-09, with the labels that each got.

#599 docs(contributing): update the coding guideline
  docs/contributing/coding-guidelines/index.md
  docs/contributing/coding-guidelines/languages/cpp.md
Labels: type:documentation, tag:deploy-docs

#608 fix: update github link for autoware prefix
  docs/design/autoware-architecture/node-diagram/overall-node-diagram-autoware-universe.drawio.svg
Labels: type:documentation, tag:deploy-docs

#607 chore: add short description about imu in sensing architecture
  docs/design/autoware-architecture/sensing/image/overall-sensing-architecture.drawio.svg
  docs/design/autoware-architecture/sensing/index.md
Labels: tag:deploy-docs, component:sensing

#557 feat: add autoware_rosbag2_anonymizer usage
  docs/datasets/.pages
  docs/datasets/data-anonymization/index.md
Labels: tag:deploy-docs

#609 docs: udpate the link of pointcloud_divider
  docs/how-to-guides/others/using-divided-map.md
Labels: tag:deploy-docs

#612 feat(source-installation): add manual instructions for the rviz theme
  docs/installation/autoware/source-installation.md
Labels: tag:deploy-docs

#615 docs: add apt update/upgrade to workspace install/update instructions
  docs/installation/autoware/docker-installation.md
  docs/installation/autoware/source-installation.md
Labels: tag:deploy-docs

#598 chore: changed the package name imu_corrector to autoware_imu_corrector
  docs/how-to-guides/integrating-autoware/creating-vehicle-and-sensor-model/creating-sensor-model/index.md
Labels: tag:deploy-docs

#619 docs(awsim-tutorial): update the awsim labs comparison table
  docs/tutorials/ad-hoc-simulation/digital-twin-simulation/awsim-tutorial.md
Labels: tag:deploy-docs
