Repository autowarefoundation/autoware-documentation, pull requests merged in 2024-03, with the labels that each got.

#516 docs(installation): update the installation instructions
  docs/installation/autoware/docker-installation-devel.md
  docs/installation/autoware/docker-installation-prebuilt.md
  docs/installation/autoware/docker-installation.md
  docs/installation/autoware/source-installation.md
  docs/installation/index.md
Labels: tag:deploy-docs, component:system

#530 docs(installation): fix run.sh documentation
  docs/installation/autoware/docker-installation.md
Labels: type:documentation

#532 docs(rosbag-replay-simulation): add warnings about timestamp discrepancies and pre-playback messages
  .markdownlint.yaml
  docs/tutorials/ad-hoc-simulation/rosbag-replay-simulation.md
Labels: tag:deploy-docs

#517 docs: add the carla simulator page under digital twin
  docs/tutorials/ad-hoc-simulation/digital-twin-simulation/.pages
  docs/tutorials/ad-hoc-simulation/digital-twin-simulation/carla-tutorial.md
Labels: tag:deploy-docs

#461 docs: add pull over description for fail-safe doc
  docs/design/autoware-interfaces/ad-api/features/fail-safe.md
  docs/design/autoware-interfaces/ad-api/features/fail-safe/mrm-behavior.drawio.svg
Labels: tag:deploy-docs
