Repository autowarefoundation/autoware-documentation, pull requests merged in 2024-06, with the labels that each got.

#563 feat: update rosbag file for autoware_msgs
  docs/tutorials/ad-hoc-simulation/rosbag-replay-simulation.md
Labels: type:documentation, type:github-actions, tag:deploy-docs

#568 feat: add ai pr review docs
  docs/contributing/pull-request-guidelines/.pages
  docs/contributing/pull-request-guidelines/ai-pr-review.md
Labels: tag:deploy-docs

#471 docs(how-to-guides): add training docs for centerpoint
  docs/how-to-guides/training-machine-learning-models/training-models.md
Labels: type:documentation, tag:deploy-docs

#567 feat: add the awsim labs comparison table
  docs/tutorials/ad-hoc-simulation/digital-twin-simulation/awsim-tutorial.md
Labels: tag:deploy-docs

#559 docs(ad-api): release adapi v1.3.0
  docs/design/autoware-interfaces/ad-api/features/diagnostics/data.drawio.svg
  docs/design/autoware-interfaces/ad-api/list/api/system/diagnostics/status.md
  docs/design/autoware-interfaces/ad-api/list/api/system/diagnostics/struct.md
  docs/design/autoware-interfaces/ad-api/list/api/system/heartbeat.md
  docs/design/autoware-interfaces/ad-api/list/index.md
  docs/design/autoware-interfaces/ad-api/release.md
Labels: tag:deploy-docs

#578 feat(support-guidelines): update guidelines for Autoware community support
  docs/support/support-guidelines.md
Labels: tag:deploy-docs
